.start-screen {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-color: #404040;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 100vh;
        width: 100%;
    }
}

.start-label-box {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 50px;
    display: flex;
    justify-content: center;

    img {
        width: 20vh;
        border-radius: 100%;
        height: auto;

        &:hover {
            filter: brightness(1.75);
            cursor: pointer;
        }
    }
}